      @font-face {
          font-family: MyFirstFont;
          src: url("../fonts/Avenir-Book.woff");

      }

      @font-face {
          font-family: MyFirstFont1;
          src: url("../fonts/HUSET.woff");

      }

      body {
          background-color: #edf7fe;
      }

      h1 {
          font-family: MyFirstfont1;
          text-transform: uppercase;
          font-size: 3.5em;
          text-align: center;
      }

      h2 {
          font-family: 'Avenir-Book', sans-serif;
      }

      h3 {
          font-family: 'Avenir-Book', sans-serif;
      }

      h4 {
          font-family: 'Avenir-Book', sans-serif;
      }

      h5 {
          font-family: 'Avenir-Book', sans-serif;
      }

      h6 {
          font-family: 'Avenir-Book', sans-serif;
      }

      p {
          font-family: 'Avenir-Book', sans-serif;
      }

      li {
          font-family: 'Avenir-Book', sans-serif;
      }

      strong {
          font-family: 'Avenir-Book', sans-serif;
      }

      a {
          font-family: 'Avenir-Book', sans-serif;
          color: black;
      }

      /*MENU OG BURGER MENU og site brede og noget til kontakt.html*/
      @media screen and (max-width: 750px) {

          .frivilligbox {
              width: 90vw
          }

          .txt_frivillig {
              padding: 10px;
              margin-bottom: 30px;
              margin-right: 10px;
              width: 85vw;
              background-color: #c6e3f8;
          }

          .readmore a {
              text-decoration: none;
          }


          .video_frivillig ifreme {
              width: 85vw;
          }

          .normal {
              display: none;
          }

          header img {
              width: 50vw;
          }

          .menubutton {
              width: 2em;
              height: 1.5em;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              justify-content: space-around;
              align-items: center;
              margin: 15px;
              cursor: pointer;
              position: relative;
              z-index: 10;
              margin-left: 300px;
              margin-top: -30px
          }

          .bar {
              width: 1.8em;
              height: 4px;
              background-color: #032846;
              transition: transform .5s;
          }



          .kryds .bar1 {
              transform: rotate(45deg) translate(8px, 3px);
          }

          .kryds .bar2 {
              opacity: 0;
          }

          .kryds .bar3 {
              transform: rotate(-45deg) translate(8px, -3px)
          }


          nav li {
              margin-top: 40px;
              margin-left: 50px;
              margin-bottom: 40px;
              color: rgba(201, 201, 201, 0);
          }

          nav a {
              color: #000000;
              font-size: 1.3em;
              font-family: "Avenir-Black", sans-serif;
              margin-left: -60px;

              text-decoration: none;

          }

          nav {
              position: absolute;
              background-color: #a3c3d9;
              width: 96%;
              transform-origin: top;
              transition: transform .5s;
              z-index: 5;
          }

          .hidden {
              display: block;
              transform: translateY(-550px);
          }

          .site-brede {
              margin-top: 3vw;
              width: 90vw;
          }

          .site-brede img {
              width: 90vw;
              margin-top: 3vw;
              margin-bottom: 3vw;
          }

          .kontakt img {
              width: 95vw;
          }

          .kontakt img.kort {
              width: 90vw;
          }


      }


      .normal.dropdown {
          position: relative;
          display: inline-block;

      }

      .dropdown-content li {
          color: black;
          padding: 12px 10px;
          text-decoration: none;
          display: block;
          font-size: 0.6em;
      }

      .dropdown-content {
          display: none;
          position: absolute;
          background-color: #a3c3d9;
          width: 190px;
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          padding: 12px 16px;
          z-index: 1;
      }

      .dropdown:hover .dropdown-content {
          display: block;
      }



      @media screen and (min-width: 737px) {
          .frivilligbox {
              display: grid;
              grid-template-columns: repeat(1, 1fr);
              width: 90vw;
          }

          .txt_frivillig {
              margin: 20px;
              padding: 30px;
              background-color: #c6e3f8;
              width: 70vw;
          }

          iframe {
              width: 70vw;
              height: 40vw;
              margin-left: 7vw;
          }


          .readmore a {
              text-decoration: none;
          }


          .hidden {
              display: none;
          }

          .menubutton {
              display: none;
          }



          header img {
              margin-left: 250px;
              margin-top: 30px;
              width: 30vw;
              align-items: center;
              padding-left: 20px
          }

          .normal {
              display: flex;
              flex-wrap: nowrap;
              margin-left: 130px;
              margin-top: 50px;

          }

          .normal a {
              text-decoration: none;
              color: black;
              font-family: "Avenir-Black", sans-serif;
              font-weight: normal;


          }

          .normal li {
              float: left;
              margin-left: 20px
          }

          .normal li a {
              color: rgb(0, 0, 0);
              display: block;
              text-align: center;
              padding: 5px 5px;
              text-decoration: none;
          }

          .normal ul {
              list-style-type: none;
              margin: 0;
              padding: 0;
              overflow: hidden;
          }

          .normal a:hover {
              background-color: #a3c3d9;
              border-radius: 7px;
          }


          .site-brede {
              margin-top: 3vw;
              width: 90vw;

          }

          .site-brede h1 {
              text-align: center;
              margin-left: 55px;
          }

          .site-brede img {
              width: 98vw;
              margin-top: 3vw;
              margin-bottom: 3vw;
          }

          .kontakt img {
              width: 40vw;
          }

          .kontakt img.kort {
              width: 98vw;
          }

      }

      @media screen and (min-width: 1024px) {
          .frivilligbox {

              display: grid;
              grid-template-columns: repeat(2, 1fr);
              width: 90vw;
          }

          .txt_frivillig {
              margin: 20px;
              padding: 30px;
              background-color: #c6e3f8;
              width: 35vw;
          }

          .readmore a {

              text-decoration: none;
          }




          .hidden {
              display: none;
          }

          .menubutton {
              display: none;
          }


          header img {
              margin-left: 0px;
              margin-top: 10px;
              width: 30vw;
              padding: 10px;
              padding-left: 40px
          }

          .normal {
              display: flex;
              flex-wrap: nowrap;
              margin-left: 360px;
              margin-top: -35px;

          }

          .normal a {
              font-size: 1.4em;
              text-decoration: none;
              color: black;
              font-family: "Avenir-Black", sans-serif;
              font-weight: normal;


          }

          .normal li {
              float: left;
              margin-left: 20px
          }

          .normal li a {
              color: rgb(0, 0, 0);
              display: block;
              text-align: center;
              padding: 5px 5px;
              text-decoration: none;
          }

          .normal ul {
              list-style-type: none;
              margin: 0;
              padding: 0;
              overflow: hidden;
          }

          .normal a:hover {
              background-color: #a3c3d9;
          }

          .site-brede {
              margin-top: 3vw;
              margin-left: 4vw;
              width: 90vw;
          }

          .site-brede img {
              width: 90vw;
              margin-top: 3vw;
              margin-bottom: 3vw;
          }

          .kontakt img.kort {
              width: 50vw;
          }

      }

      @media screen and (min-width: 1366px) {
          .frivilligbox {
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              width: 90vw;
          }

          .txt_frivillig {
              margin: 20px;
              padding: 30px;
              background-color: #c6e3f8;
              width: 35vw;
          }




          .readmore a {

              text-decoration: none;
          }


          header img {
              margin-left: 20px;
          }

          .normal {
              margin-left: 700px
          }

          .kontakt img.kort {
              width: 90vw;
          }
      }

      @media screen and (min-width: 1500px) {
          .frivilligbox {

              display: grid;
              grid-template-columns: repeat(2, 1fr);
              width: 90vw;
          }



          .txt_frivillig {
              margin: 20px;
              padding: 30px;
              background-color: #c6e3f8;
              width: 35vw;
          }

          .readmore a {

              text-decoration: none;
          }


          header img {
              margin-left: 120px;
          }

          .normal {
              margin-top: -35px;
              margin-left: 740px
          }

          .site-brede {
              margin-top: 3vw;
              margin-left: 23vw;
              width: 50vw;
          }

          .site-brede img {
              width: 50vw;
              margin-top: 3vw;
              margin-bottom: 3vw;
          }

          .kontakt img {
              width: 16vw;
          }

          .kontakt img.kort {
              width: 50vw;
          }

          iframe {
              margin-top: 20px;
              width: 34vw;
              height: 17.7vw;
              margin-left: -51px;
          }
      }




      /*Event sitet style*/
      @media screen and (max-width: 750px) {
          .filtrering {
              padding-top: 10px;
              text-align: center;
          }

          .menu-item {
              border: none;
              background-color: #c6e3f8;
              height: 30px;
              width: 70px;
              margin-right: 10px;
          }

          .animate-bottom {
              position: relative;
              animation-name: animatebottom;
              animation-duration: 1s
          }

          @keyframes animatebottom {
              from {
                  bottom: -100px;
                  opacity: 0
              }

              to {
                  bottom: 0;
                  opacity: 1
              }
          }

          #myDiv {
              display: none;
              text-align: center;
          }

          .data_img {
              width: 80vw;
          }

          #data-page {
              text-align: center;
              width: 80vw;
              background-color: #c6e3f8;
              padding: 10px;
              margin-top: 20px;
              font-family: Avenir-Black;
          }

          .event {
              display: grid;
              width: 34vw;
              margin-top: 10vw;
              padding-left: 4%;
              padding-right: 5%;
              grid-gap: 20px;
              grid-template-columns: repeat(1, 1fr);

          }



          .kob-billet {
              position: absolute;
              width: 30%;

          }

      }


      @media screen and (min-width: 737px) {


          .filtrering {
              padding-top: 10px;
              text-align: center;
          }

          .menu-item {
              border: none;
              background-color: #c6e3f8;
              height: 30px;
              width: 70px;
              margin-right: 10px;
          }

          .data_img {
              width: 40vw;
          }

          #data-page {
              text-align: center;
              width: 40vw;
              background-color: #c6e3f8;
              padding: 10px;
              margin-top: 20px;
              font-family: Avenir-Black;
          }

          .event {
              display: grid;
              width: 40vw;
              margin-top: 10vw;
              padding-left: 4%;
              padding-right: 5%;
              grid-gap: 20px;
              grid-template-columns: repeat(2, 1fr);

          }

          .kob-billet {
              position: absolute;
              width: 13%;

          }
      }


      @media screen and (min-width: 1500px) {
          .filtrering {
              padding-top: 10px;
              text-align: center;
          }

          .menu-item {
              border: none;
              background-color: #c6e3f8;
              height: 30px;
              width: 100px;
              margin-right: 10px;
          }



          .event {
              margin-top: 2%;
              display: grid;
              padding-left: 10.5%;
              padding-right: 5%;
              grid-gap: 20px;
              grid-template-columns: repeat(3, 1fr);
          }

          .data_img {
              width: 23.2vw;
          }

          #data-page {
              text-align: center;
              width: 23.2vw;
              background-color: #c6e3f8;
              padding: 10px;
              margin-top: 5px;
              font-family: Avenir-Black;
          }

          .kob-billet {
              position: absolute;
              width: 8%;

          }
      }


      /* Nyhedsbrev */

      #tilmeld {
          font-family: Avenir-Black;
          background-color: #ffffff;
          width: 18vh;
          height: auto;
          border-radius: 3.5px;
          border: none;
          text-align: center;
          position: fixed;
          right: 1vw;
          bottom: 1vw;
          z-index: 100;
          cursor: pointer;
      }

      #tilmeld p {
          color: black;
          font-weight: bold;
          font-family: Avenir-Black;
      }



      #modal.vis {
          opacity: 1;
          pointer-events: all;
          border-radius: 10px;
      }



      #close {
          height: 20px;
          width: 50px;
          border-radius: 3.5px;
          border: none;
          background-color: #ffffff;
          color: black;
          margin: 3px;
      }



      #close:hover,
      #close:focus {
          color: #26225c;
          text-decoration: none;
          cursor: pointer;
          margin: 5px;
      }




      #modal {
          background-color: white;
          opacity: 0;
          pointer-events: none;
          transition: all 1s;
          position: fixed;
          z-index: 300;
          padding: 30px;
          box-shadow: 2px 2px 30px black;
          font-family: Avenir-Black;

      }



      #modal-content {
          margin: 5px;
      }



      input[type=submit] {
          width: 50px;
          height: 25px;
          background-color: #ededed;
          color: black;
          font-size: 15px;
          text-align: center;
          margin: 5px;
          border-radius: 3.5px;
          float: right;
      }



      input[type=email]:hover {
          background-color: white;
          border-radius: 3.5px;
      }



      input[type=text]:hover {

          background-color: white;
          border-radius: 3.5px;
      }





      input {
          border-radius: 3.5px;
          margin: 5px;
      }

      @media screen and (min-width: 400px) {
          #modal {
              right: 2vw;
              top: 75vw;
              width: 80vw;
              height: 90vw;
          }
      }


      @media screen and (min-width: 525px) {
          #modal {
              width: 70vw;
              height: 64vw;
              right: 2vw;
              top: 61.5vw;
          }
      }

      @media screen and (min-width: 750px) {
          #modal {
              width: 60vw;
              height: 43vw;
              right: 2vw;
              top: 44vw;
          }
      }

      @media screen and (min-width: 1075px) {
          #modal {
              width: 48vw;
              height: 30vw;
              right: 1.8vw;
              top: 30.5vw;
          }
      }



      @media screen and (min-width: 1440px) {
          #modal {
              width: 20vw;
              height: 30vw;
              right: 2vw;
              top: 14.5vw;
          }
      }


      /* *,
      *::before,
      *::after {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
      } */




      .timeline {
          color: #fff;
          font-family: Avenir-Black;
      }

      .timeline h1,
      .timeline ul li .content h2 {
          text-shadow: 1px 1px 1px rgba(56, 56, 56, 0.5);
          border-radius: 5px;
      }

      .timeline h1 {
          background: #a3c3d9;
          padding: 20px 0;
          font-size: 2.5em;
          text-align: center;
      }

      .timeline ul {
          background: #edf7fe;
          padding: 50px 0;
      }

      .timeline ul li {
          background: #a3c3d9;
          position: relative;
          margin: 0 auto;
          width: 5px;
          padding-bottom: 40px;
          list-style-type: none;
      }

      .timeline ul li:last-child {
          padding-bottom: 7px;
      }

      .timeline ul li:before {
          content: '';
          background: #faf8eb;
          position: absolute;
          left: 50%;
          top: 0;
          transform: translateX(-50%);
          width: 20px;
          height: 20px;
          border: 3px solid #a3c3d9;
          border-radius: 50%;
      }

      .timeline ul li .hidden {
          opacity: 0;
      }

      .timeline ul li .content {
          background: #a3c3d9;
          position: relative;
          top: 7px;
          width: 450px;
          padding: 20px;
          border-radius: 5px;
      }

      .timeline ul li .content h2 {
          color: #fff;
          padding-bottom: 10px;
          text-align: center;
      }

      .timeline ul li .content p {
          text-align: center;
          font-weight: bold;
      }

      .timeline ul li .content:before {
          content: '';
          background: #a3c3d9;
          position: absolute;
          top: 0px;
          width: 42px;
          height: 5px;
      }

      .timeline ul li:nth-child(odd) .content {
          left: 50px;
          background: #a3c3d9;

      }

      .timeline ul li:nth-child(odd) .content:before {
          left: -36px;
      }

      .timeline ul li:nth-child(even) .content {
          left: calc(-450px - 85px);
          background: #a3c3d9;
      }

      .timeline ul li:nth-child(even) .content:before {
          right: -38px;
      }

      @media screen and (max-width: 1020px) {
          .timeline ul li .content {
              width: 41vw;
          }

          .timeline ul li:nth-child(even) .content {
              left: calc(-41vw - 45px);
          }
      }

      @media screen and (max-width: 700px) {
          .timeline ul li {
              margin-left: 20px;
          }

          .timeline ul li .content {
              width: calc(100vw - 100px);
          }

          .timeline ul li .content h2 {
              text-align: initial;
          }

          .timeline ul li:nth-child(even) .content {
              left: 45px;
              background: #a3c3d9;
          }

          .timeline ul li:nth-child(even) .content:before {
              left: -33px;
          }
      }
